main{
	text-align: center;
}

svg g{
	//transform-origin: 50% 50%;
	animation: anim01 1.7s linear infinite;
}

@keyframes anim01{
	to{
		transform:rotate(360deg);
	}
}
/*svg polyline,
svg line,
svg path {
  fill: none;
  stroke: blue;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}
*/
