/*pour centrer les elements dans la page*/
main{
	text-align: center;
}


/*Animation de la rotation*/
svg g{
	transform-origin: 50% 50%;
	animation: anim01 2s linear infinite;
	
}

@keyframes anim01{
	to{
		transform:rotate(360deg);
		
	}
}

/*Animation de la bordure*/
svg{
	stroke-dasharray: 255;
	animation: anim02 5s linear alternate-reverse infinite;
}

@keyframes anim02{
	to{
		stroke-dashoffset: 255;
	}
}
